// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";


//GENERAL

.btn_custom,
.btn_custom_primary{
  background-color: $primary-color;
  border-color:$primary-color;
  color: white;

  &:hover{
    color: $fifth-color;
  }
}

.btn_custom_secondary{
  background-color: $fifth-color;
  border-color:$fifth-color;
  color: white;

  &:hover{
    color: $primary-color;
  }
}